body{
    background-color: green;
    color: white;
}


.dt {
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.nombre {
    text-align: center;
    
}
.correo {
    text-align: center;
}

.telefono {
    text-align: center;
}

.pais{
    text-align: center;
}

.mv {
    text-align: center;
    
    
    font-family: Arial, Helvetica, sans-serif;
}

.nuevo{
    
    border: 5px solid red
    font-family: Arial, Helvetica, sans-serif;
}


.numerotar{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nom{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.enviar{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.corrr{
    border: 2px solid red
    
   
    
}

.tel{
    display: inline;
    width: ;
    border: 2px solid red
    font-family: Arial, Helvetica, sans-serif;
    width: 90px
    height: auto
}


#pais{
    display: inline;
    border: 2px solid red
    font-family: Arial, Helvetica, sans-serif;
    
}

#nombre {
    
    
    
    border: 2px solid red
    font-family: Arial, Helvetica, sans-serif;
}